env
dump_tree.sh
start_vnc.sh
disposable
.vscode
wandb
.pytest_cache
__pycache__/
.env

*.png
*.jpg
*.bmp
*.npz
*.pth
*.h5
*.hdf5
*.tar
*.tgz
*.zip
*.tar.gz
*.so
*.obj
*.off
*.urdf
*.binvox
*.ply
*.bk